nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1rem;
    background-color: var(--secondary-blue-color);
    color: var(--secondary-text);
}

nav .navbar-menu{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

nav .navbar-menu button{
    background: transparent;
    border: 1px solid var(--secondary-text);
    color: var(--primary-text);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: 0.3s all ease-out;
}

nav .navbar-menu button:hover{
    background-color: var(--primary-color);
    letter-spacing: 1px;
}

nav .navbar-menu .user{
    display: flex;
    gap: 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 0.5rem 1rem;

}

nav .navbar-menu .user .user-icon{
    color: var(--primary-text);  
}

nav .navbar-menu .user select{
    background-color: var(--primary-color);
    color: var(--primary-text);
    border: none;
    font-size: 1rem;
}

nav .icon{
    background-color: var(--primary-color);
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 50%;
}