nav{
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 307px);
    padding: 1rem 1rem;
    background-color: var(--secondary-blue-color);
    color: var(--secondary-text);
}

nav .navbar-menu{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

nav .navbar-menu .user{
    display: flex;
    gap: 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 0.5rem 1rem;

}

nav .navbar-menu .user select{
    background-color: var(--primary-color);
    color: var(--secondary-text);
    border: none;
    font-size: 1rem;
}

nav .icon{
    background-color: var(--primary-color);
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 50%;
}